
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/common-jdk7/target/
/learn-jdk7/target/
/common-jdk8/target/
/learn-jdk8/target/
/learn-jdk8/common-dependency/common-dependency.iml
/learn-jdk8/common-dependency/target/
/learn-jdk8/my-spring-test/my-spring-test.iml
/learn-jdk8/my-java-learn/my-java-learn.iml
/learn-jdk8/my-algs-learn/my-algs-learn.iml
/learn-jdk8/my-spring-test/target/
/learn-jdk8/my-java-learn/target/
/learn-jdk8/my-concurrency-learn/target/
/learn-jdk8/my-algs-learn/target/
